# LND Connection Settings
LND_MACAROON_PATH=~/.lnd/data/chain/bitcoin/mainnet/admin.macaroon
LND_TLS_PATH=~/.lnd/tls.cert
LND_RPC_SERVER=localhost:10009

# Default Script Settings
DEBUG=False
PUBLIC_IP_ONLY=False
LIMIT=20
SORT_BY=channels
ONION_ONLY=False
OUTPUT_FILE=bolt12_capable_nodes.json
